CRUCIBLE_RUNNER=adk
CRUCIBLE_ADK_MODEL=
PERPLEXITY_API_KEY=
PERPLEXITY_MODEL=sonar
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
GOOGLE_API_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=europe-west1
GROUNDING_TIMEOUT_SECONDS=8
